<div class="modal-header">
	<h2 class="modal-title ml-auto pl-5" id="exampleModalLabel" style="margin: 0px;">
		Error Message !!
  </h2>
  <!-- <button type="button" class="close pull-right" (mousedown)="onClose()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button> -->
  <button class="btn"  type="button"  (mousedown)="onClose()"  >&times;</button>
</div>

<div class="modal-body">
<p>{{ message}}</p>
</div>

<div class="modal-footer d-flex justify-content-center">
  <!-- <button type="submit" class="btn btn-primary">{{ message}}</button> -->
  <!-- <button type="button" class="btn btn-dark btn-pill" (mousedown)="onClose()">{{config.cancel}}</button> -->
</div>