<div  class="row">
    <div  class="col-11"> <h2>{{title}}</h2>
    </div>
    <div class="col-1"><button class="btn"  type="button" mat-dialog-close>&times;</button>
</div>

<div *ngIf="filetype=='pdf'">
    <mat-dialog-content class="mat-typography">
    <ngx-extended-pdf-viewer
    [src]="pdfSrc"
    [useBrowserLocale]="true"
    [textLayer]="true"
    [(page)]="page"
    [(pageLabel)]="pageLabel"
    [enableDragAndDrop]="true"
    [showDownloadButton]="true"
    ></ngx-extended-pdf-viewer>
</mat-dialog-content>
</div>


<div *ngIf="filetype=='image'">
    <mat-dialog-content class="mat-typography">
    <ngx-image-viewer  [src]="image"></ngx-image-viewer>
</mat-dialog-content>
</div>


