
<div  class="row">
    <div  class="col-11">
        <mat-slide-toggle color="primary" [(ngModel)]="checkbox" [disabled]="disable"><h2>{{data.title+" Gratuity Details"}}</h2></mat-slide-toggle>

    </div>
    <div class="col-1"><button class="btn"  type="button" mat-dialog-close>&times;</button>
</div>


<div class="container-fluid">

    <mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-12 ">
    <mat-card>
            <div class="text-center">
                <h1><b>FORM ‘F’</b></h1>
               <p>(See sub-rule (1) of Rule 6)</p>
               <h3><b><u>NOMINATION</u></b></h3>
            </div>

            <!-- <p>{{pf.value | json}}</p> -->

<div>
 
         <div style="margin-left: 35px;"> To &nbsp;&nbsp;<input class="field2 input-border" [value]="userdata.name3" readonly type="text"></div>
          
            <div class="text-center">(Give here name or description of the establishment with full address)</div>
 

<ol type="1">
    <li>1. &nbsp; I, Shri / Shrimati / Kumari 
    <input class="field3 input-border" [value]="userdata.name" readonly type="text">
    <div class="text-center">(Name in full here)</div>
    <p>  whose particulars are given in the statement below, hereby nominate the person(s) mentioned below receive the gratuity payable after my death as also the gratuity standing to my credit in the event of death before that amount has become payable, or having become payable has not been paid and direct that the said amount of gratuity shall be paid in proportion indicated against the name(s) of the nominee(s).</p>
    </li>

    <li>2. &nbsp;I hereby certify that the person(s) mentioned is a/are member/s of my family within the meaning clause (h) of section (2) of the payment of Gratuity Act, 1972.</li>

    <li>3. &nbsp;I hereby declare that I have no family within the meaning of clause (h) of section (2) of the said Act.</li>
    <li>4. &nbsp;(a) My father/mother/parents is/are not dependant on me. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) My husband’s father/mother/parents is/are not dependant on my husband.
    </li>
    <li>5. &nbsp;I have excluded my husband from my family by a notice dated &nbsp;<input class="input-border" [value]="userdata.name1 | date: 'dd/MM/yyyy'" readonly type="text">&nbsp; to the controlling authority in terms of the provision to clause (h) of section (2) of the said Act.</li>
    <li>6.&nbsp;Nomination made herein validates my previous nomination.</li>
</ol>

<div class="text-center">
    <p><b>Nominee(s)</b></p>
</div>

<div style="margin-left:32px ;" class="table-responsive">
<table  class="table">
   <tr>
    <th>Name in full with full address of nominee(s)</th>
    <th>Relationship with the employee</th>
    <th>Age of nominee</th>
    <th>Proportion by which the gratuity will be shared</th>
   </tr>

<tr>
    <!-- <td><input class="no-border field" [value]="userdata.r1c1" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r1c2" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r1c3" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r1c4" readonly type="text"></td> -->
    <td>{{userdata.r1c1}}</td>
    <td>{{userdata.r1c2}}</td>
    <td>{{userdata.r1c3}}</td>
    <td>{{userdata.r1c4}}</td>
</tr>
<tr>
    <!-- <td><input class="no-border field" [value]="userdata.r2c1" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r2c2" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r2c3" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r2c4" readonly type="text"></td> -->
    <td>{{userdata.r2c1}}</td>
    <td>{{userdata.r2c2 | date: 'dd/MM/yyyy'}}</td>
    <td>{{userdata.r2c3}}</td>
    <td>{{userdata.r2c4}}</td>
</tr>
<tr>
    <!-- <td><input class="no-border field" [value]="userdata.r3c1" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r3c2" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r3c3" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r3c4" readonly type="text"></td> -->
    <td>{{userdata.r3c1}}</td>
    <td>{{userdata.r3c2}}</td>
    <td>{{userdata.r3c3}}</td>
    <td>{{userdata.r3c4}}</td>
</tr>
 </table>
</div>

<div class="text-center">
    <p><b><u>Statement</u></b></p>
</div>

<ul>
    <li>1.	Name of employee in full :
        <input class=" input-border"   [value]="userdata.nameofemployee" readonly  type="text">
    </li>
    <li>2.	Sex :
        <input class=" input-border"  [value]="userdata.sex" readonly  type="text">
    </li>
    <li>3.	Religion :
        <input class=" input-border"  [value]="userdata.religion" readonly  type="text">
    </li>
    <li>4.	Whether unmarried/married/widow/widower :
        <input class=" input-border"  [value]="userdata.ismarried" readonly  type="text">
    </li>
    <li>5.	Department/Branch/Section/ where employed :
        <input class=" input-border"  [value]="userdata.department" readonly  type="text">
    </li>
    <li>6.	Post held with ticket or Serial No., if any :
        <input class=" input-border"  [value]="userdata.ticket" readonly  type="text">
    </li>
    <li>7.	Date of appointment :
        <input class=" input-border"   [value]="userdata.date | date: 'dd/MM/yyyy'"  readonly type="text">
    </li>
    <li>8.	Permanent address : <br>
        &nbsp;&nbsp;&nbsp;
        <span>Village</span>&nbsp;
        <input class=" input-border"  [value]="userdata.village" readonly  type="text">
        <span> Thana </span>&nbsp;
        <input class=" input-border"  [value]="userdata.thana"  readonly type="text">
        <span>Sub-division</span>&nbsp;
        <input class=" input-border"   [value]="userdata.subdivision" readonly type="text">
        <span>Post Office</span>&nbsp;
        <input class=" input-border"   [value]="userdata.postoffice" readonly type="text">
        <span>District</span>&nbsp;
        <input class=" input-border"  [value]="userdata.district" readonly  type="text">
        <span>State</span>&nbsp;
        <input class=" input-border"  [value]="userdata.state" readonly  type="text">
    </li>
    <li>Date : <input type="text" class="input-border" [value]="userdata.date1 | date: 'dd/MM/yyyy'" readonly ></li>
    <li>Place : <input type="text" class="input-border" [value]="userdata.place1" readonly ></li>
    <li align="end" style="margin-right:15px ;"><img [src]="url" width="120" height="100" alt="img"></li>
    <li align="end" style="margin-right:15px ;">Signature/thumb impression of the employee</li>
</ul>

<div class="text-center">
    <p><b><u>Declaration by witnesses</u></b></p>
</div>
<br>
<div>
    <ul>
        <li>Nomination signed/thumb impression before me.</li>
    </ul>
    <div class="row">
        <div class="col-10">
           <ul>
            <li>Name in full and full address of witness</li>
           </ul>
        </div>
        <div class="col-2" >
            <p>Signature of witness</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <ul>
            <li>1. <input type="text" class="input-border" [value]="userdata.witness1" readonly ></li>
            <li>2. <input type="text" class="input-border" [value]="userdata.witness2" readonly ></li>
        </ul>
    </div>
    <div class="col-3">
        <ul>
            <li>1.</li>
            <li>2.</li>
        </ul>
    </div>
</div>
<ul>
    <li>Date : <input type="text" class="input-border" [value]="userdata.date2 | date: 'dd/MM/yyyy'" readonly></li>
    <li>Place : <input type="text" class="input-border" [value]="userdata.place2" readonly></li>
</ul>

<div class="text-center">
    <p><b><u>Declaration by witnesses</u></b></p>
</div>
<ul>
    <li>Certified that the particulars of the above nomination have been verified and recorded in this establishment.</li>
    <li>Employer’s reference number if any.</li>
</ul>
<div class="row">
    <div class="col-9">
       <ul>
        <br><br>
        <li>Date: <input type="text" class="input-border" [value]="userdata.date3 | date: 'dd/MM/yyyy'" readonly></li>
       </ul>
    </div>
    <div class="col-3">
        <ul>
            <li>Signature of the employer/Officer authorized</li>
            <li>Designation</li>
            <li>Name and address of the establishment or rubber stamp thereof.</li>
        </ul>
    </div>
</div>

<hr>

<div class="text-center">
    <p><b><u>Acknowledgement by the employee</u></b></p>
</div>
<ul>
    <li>Received the duplicate copy of nomination in Form ’F’ filed by me and duly certified by the employer.</li>
</ul>
<div class="row">
    <div class="col-9">
       <ul>
        <li>Date: <input type="text" class="input-border" [value]="userdata.date4 | date: 'dd/MM/yyyy'" readonly></li>
       </ul>
    </div>
    <div class="col-3">
        <ul>
            <li align="end" style="margin-right:15px ;"><img [src]="url" width="120" height="100" alt="img"></li>
            <li align="end" style="margin-right:15px ;">Signature of the employee</li>

        </ul>
    </div>
</div>

</div>

</mat-card>


</div>
</div>
<br>
</mat-dialog-content>
</div>

<mat-dialog-actions align="end">
    <button type="submit" mat-button [mat-dialog-close]="'success'"  (click)="updateformstatus()" mat-raised-button color="primary">Submit</button> 
  </mat-dialog-actions>