<div  class="row">
    <div  class="col-11 "> 
      <mat-slide-toggle color="primary"  [(ngModel)]="checkbox" [disabled]="disable"><h2>{{data.title+" Bank Details"}}</h2></mat-slide-toggle>
    </div>
    <div class="col-1"><button class="btn"  type="button" mat-dialog-close>&times;</button></div>
</div>

<!-- <p>{{bank.value | json}}</p> -->

<div class="container-fluid">
    <mat-dialog-content class="mat-typography">
    
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="bankname">
          <mat-header-cell *matHeaderCellDef> Bank Name </mat-header-cell>
          <mat-cell *matCellDef="let element;">
            {{element.bankname}} 
          </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="branchname">
          <mat-header-cell *matHeaderCellDef> Branch Name </mat-header-cell>
          <mat-cell *matCellDef="let element;">
            {{element.branchname}} 
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="bankaccountno">
          <mat-header-cell *matHeaderCellDef> Bank Account No</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            {{element.bankaccountno}} 
          </mat-cell>
        </ng-container>
      
  
        <!-- Weight Column -->
        <ng-container matColumnDef="ifsccode">
          <mat-header-cell *matHeaderCellDef> IFSC code</mat-header-cell>
          <mat-cell *matCellDef="let element;">
            {{element.ifsccode}} 
          </mat-cell>
        </ng-container>
      
             <!-- Symbol Column -->
             <ng-container matColumnDef="bankaddress">
              <mat-header-cell *matHeaderCellDef> Bank Address</mat-header-cell>
              <mat-cell *matCellDef="let element;">
                {{element.bankaddress}} 
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="document">
              <mat-header-cell *matHeaderCellDef>Document</mat-header-cell>
              <mat-cell *matCellDef="let element;">
              <button mat-icon-button (click)="viewdialog(element.filetype,element.filename)"> <mat-icon>open_in_new</mat-icon></button>
              </mat-cell>
            </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
  <button type="submit" mat-button [mat-dialog-close]="'success'"  (click)="updateformstatus()" mat-raised-button color="primary">Submit</button> 
</mat-dialog-actions>
  
