<div  class="row">
<div  class="col-md-11"> <h2> {{data.title+" Employee"}}</h2>
</div>
<div class="col-md-1"><button class="btn"  type="button" mat-dialog-close>&times;</button>
</div>
<!-- <div>{{user.value | json}}</div> -->
</div>
<form  [formGroup]="user" (ngSubmit)="formsubmit()">
<div mat-dialog-content>
   
    <mat-form-field class="fullwidth" appearance="outline">
        <mat-label>user name</mat-label>
        <input matInput name="username"  placeholder="Enter here" formControlName="name" >
    </mat-form-field>

    <mat-form-field class="fullwidth" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput placeholder="Enter here" formControlName="password" [readonly]=readonly>
    </mat-form-field>

    <mat-form-field class="fullwidth" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" placeholder="Enter here" formControlName="email"  >
    </mat-form-field>

    <mat-form-field class="fullwidth" appearance="outline">
        <mat-label >mobile No.</mat-label>
        <input matInput #input name="mobile" maxlength="10" minlength="10" pattern='^[a-zA-Z0-9_]*$'(keypress)="_keyPress($event)"   placeholder="Enter here"formControlName="mobile">
    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
        <mat-label>Select</mat-label>
        <mat-select  required name="role" formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</mat-option>
        </mat-select>
    </mat-form-field>
   

</div>
<div mat-dialog-actions align="end">
    <button type="submit" mat-button  [disabled]="!user.valid" mat-raised-button color="primary">Submit</button>
    <!-- <button type="submit" mat-button mat-raised-button color="primary">Submit</button> -->
</div>
</form>