
<div  class="row">
    <div  class="col-11">
        <mat-slide-toggle color="primary" [(ngModel)]="checkbox" [disabled]="disable"><h2>{{data.title+"Group Term Insurance Details"}}</h2></mat-slide-toggle>

    </div>
    <div class="col-1"><button class="btn"  type="button" mat-dialog-close>&times;</button>
</div>
<div class="container-fluid">
    <mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-12 ">
    <mat-card>
            <div class="text-center">
                <h1><b><u>Nomination and Declaration Form Group Term Insurance and Group Personal Accident Insurance </u></b></h1> 
            </div>

            <!-- <p>{{pf.value | json}}</p> -->

<div>

    <ul>
        <li>This is to certify that I, <input class="input-border" [value]="userdata.name" readonly type="text"> , S/O or W/O  <input class="input-border" [value]="userdata.name2" readonly type="text"> ,   hereby declares below mentioned person(s) as nominee (s), to receive the amount standing to my credit in the Group Term Insurance or/& Group Personal Accident insurance, taken on my behalf by “Zuari Agro Chemicals Ltd.”, in the event of my death.</li>
    </ul>


<div style="margin-left:32px ;" class="table-responsive">
<table  class="table">
   <tr>
    <th>Sr No.</th>
    <th>Name</th>
    <th>Address</th>
    <th>Nominee’s relationship with the member</th>
    <th>Date of Birth</th>
    <th>Percentage of Total share to be paid to each nominee</th>
    <th>If the nominee is minor, name & address of the guardian who may receive the amount during the minority of the nominee </th>
   </tr>

<tr>
   
    <td>1</td>
    <!-- <td><textarea  class="no-border field" [value]="userdata.r1c2" readonly type="text"> </textarea></td> -->
    <!-- <td><input class="no-border field" [value]="userdata.r1c3" readonly type="text"></td> -->
    <!-- <td><input class="no-border field" [value]="userdata.r1c4" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r1c5 | date: 'dd/MM/yyyy'" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r1c6" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r1c7" readonly type="text"></td> -->
    <td>{{userdata.r1c2}}</td>
    <td>{{userdata.r1c3}}</td>
    <td>{{userdata.r1c4}}</td>
    <td>{{userdata.r1c5 | date: 'dd/MM/yyyy'}}</td>
    <td>{{userdata.r1c6}}</td>
    <td>{{userdata.r1c7}}</td>
   
</tr>
<tr>
    <td>2</td>
    <!-- <td><input class="no-border field" [value]="userdata.r2c2" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r2c3" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r2c4" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r2c5 | date: 'dd/MM/yyyy'" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r2c6" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r2c7" readonly type="text"></td> -->
    <td>{{userdata.r2c2}}</td>
    <td>{{userdata.r2c3}}</td>
    <td>{{userdata.r2c4}}</td>
    <td>{{userdata.r2c5 | date: 'dd/MM/yyyy'}}</td>
    <td>{{userdata.r2c6}}</td>
    <td>{{userdata.r2c7}}</td>
</tr>
<tr>
    <td>3</td>
    <!-- <td><input class="no-border field" [value]="userdata.r3c2" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r3c3" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r3c4" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r3c5 | date: 'dd/MM/yyyy'" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r3c6" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r3c7" readonly type="text"></td> -->
    <td>{{userdata.r3c2}}</td>
    <td>{{userdata.r3c3}}</td>
    <td>{{userdata.r3c4}}</td>
    <td>{{userdata.r3c5 | date: 'dd/MM/yyyy'}}</td>
    <td>{{userdata.r3c6}}</td>
    <td>{{userdata.r3c7}}</td>
</tr>
<tr>
    <td>4</td>
    <!-- <td><input class="no-border field" [value]="userdata.r4c2" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r4c3" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r4c4" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r4c5 | date: 'dd/MM/yyyy'" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r4c6" readonly type="text"></td>
    <td><input class="no-border field" [value]="userdata.r4c7" readonly type="text"></td> -->
    <td>{{userdata.r4c2}}</td>
    <td>{{userdata.r4c3}}</td>
    <td>{{userdata.r4c4}}</td>
    <td>{{userdata.r4c5 | date: 'dd/MM/yyyy'}}</td>
    <td>{{userdata.r4c6}}</td>
    <td>{{userdata.r4c7}}</td>
</tr>
<tr>
    <td>5</td>
    <!-- <td><input class="no-border field"[value]="userdata.r5c2" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r5c3" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r5c4" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r5c5 | date: 'dd/MM/yyyy'" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r5c6" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r5c7" readonly type="text"></td> -->
    <td>{{userdata.r5c2}}</td>
    <td>{{userdata.r5c3}}</td>
    <td>{{userdata.r5c4}}</td>
    <td>{{userdata.r5c5 | date: 'dd/MM/yyyy'}}</td>
    <td>{{userdata.r5c6}}</td>
    <td>{{userdata.r5c7}}</td>
</tr>
<tr>
    <td>6</td>
    <!-- <td><input class="no-border field"[value]="userdata.r6c2" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r6c3" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r6c4" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r6c5 | date: 'dd/MM/yyyy'" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r6c6" readonly type="text"></td>
    <td><input class="no-border field"[value]="userdata.r6c7" readonly type="text"></td> -->
    <td>{{userdata.r6c2}}</td>
    <td>{{userdata.r6c3}}</td>
    <td>{{userdata.r6c4}}</td>
    <td>{{userdata.r6c5 | date: 'dd/MM/yyyy'}}</td>
    <td>{{userdata.r6c6}}</td>
    <td>{{userdata.r6c7}}</td>
</tr>
 </table>
</div>
<br>
<ul>

    <div class="row">
        <div class="col-md-9">
            <li><img [src]="url" width="120" height="100" alt="img"></li>
            <li>Signature of Employee 
    
            </li>
        </div>
        <div class="col-md-3">
            <li >Date: 
            <input class=" input-border" [value]="userdata.date | date: 'dd/MM/yyyy'" type="text">
        </li>
            <li >Place :
                <input class=" input-border" [value]="userdata.place" type="text">
            </li>
        </div>
    </div>
<div class="row">
    
    <div class="col-md-10">
        <li>Name :
            <input class=" input-border" [value]="userdata.name1" readonly type="text">
        </li>
    </div>
    <div class="col-md-2">

    </div>
</div>




    <li>EPR NO :
        <input class=" input-border" [value]="userdata.erp" readonly type="text">
    </li>
    <li>Date of Birth :
        <input class=" input-border" [value]="userdata.dob | date: 'dd/MM/yyyy'" readonly type="text">
    </li>
    <li>Sex (Male / Female) :
        <input class=" input-border" [value]="userdata.sex" readonly type="text">
    </li>
    <li>Marital Status :
        <input class=" input-border" [value]="userdata.maritalstatus" readonly type="text">
    </li>
    <li>Address :
        <input class=" input-border field1" [value]="userdata.address" readonly type="text">
    </li>
</ul>


</div>

</mat-card>


</div>
</div>
<br>
</mat-dialog-content>

</div>

<mat-dialog-actions align="end">
    <button type="submit" mat-button [mat-dialog-close]="'success'"  (click)="updateformstatus()" mat-raised-button color="primary">Submit</button> 
  </mat-dialog-actions>
