<!-- <mat-card style="background-color: #f5f5f5;">
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button mat-list-item routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"  routerLink="/admin" > <mat-icon mat-list-icon>account_circle</mat-icon>Shared Data</button>
      <button mat-list-item routerLinkActive="active-link" routerLink="/admin/users" > <mat-icon mat-list-icon>account_circle</mat-icon>users</button>
      <button mat-list-item routerLinkActive="active-link" routerLink="/admin/signup" > <mat-icon mat-list-icon>account_circle</mat-icon>ADD-users</button>
      <button mat-list-item routerLinkActive="active-link" routerLink="/admin/download" > <mat-icon mat-list-icon>account_circle</mat-icon>Download</button>
    </mat-action-list>
  </mat-card>
   -->